.modal {
  width: 890px;
  height: 100%;
  margin: 0px auto;
  padding: var(--0, 0px) var(--5, 20px) var(--5, 20px) var(--5, 20px);
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: var(--rounded-lg, 8px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: var(--0, 0px);
}

.modal_header {
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px #e5e7eb solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.modal_name {
  flex: 1 1 0;
  align-self: stretch;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text {
  color: #111928;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  word-wrap: break-word;
}

.close_btn {
  flex: 1 1 0;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: inline-flex;
}

.close {
  width: 25.8px;
  height: 25.8px;
  color: #6b7280;
}

.modal_body {
  width: 100%;
  height: 100%;
  padding-top: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}

.product_info {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: inline-flex;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--2, 8px);
  flex: 1 0 0;
  font-size: 14px;
  font-weight: 500;
}

.textInput {
  display: flex;
  align-items: center;
  gap: var(--25, 10px);
  align-self: stretch;
  border-radius: var(--rounded-lg, 8px);
  border: 1px solid var(--gray-300, #d1d5db);
  background: var(--gray-50, #f9fafb);
}

.select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--2, 8px);
  flex: 1 0 0;
  font-size: 14px;
  font-weight: 500;
}
.info {
  display: flex;
  padding: var(--0, 0px);
  align-items: center;
  gap: var(--2, 8px);
  align-self: stretch;
}
.info_img {
  color: rgba(156, 163, 175, 1);
  border-radius: 10px;
}
.select_opt {
  display: flex;
  align-items: center;
  gap: var(--25, 10px);
  align-self: stretch;
  border-radius: var(--rounded-lg, 8px);
  border: 1px solid var(--gray-300, #d1d5db);
  background: var(--gray-50, #f9fafb);
}

.product_value {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: inline-flex;
}

.item_about {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: inline-flex;
}

.description {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  display: inline-flex;
  font-size: 18px;
  font-weight: 500;
}

.textArea {
  display: flex;
  height: 30vh;
  padding: var(--3, 12px) var(--4, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--25, 10px);
  align-self: stretch;
  border-radius: var(--rounded-lg, 8px);
  border: 1px solid var(--gray-300, #d1d5db);
  background: var(--gray-50, #f9fafb);
}

.selling_info {
  width: 100%;
  height: 100%;
  padding-left: 1px;
  padding-right: 1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
  font-size: 18px;
  font-weight: 500;
}

.checkBox {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.checkButton {
  display: flex;
  align-items: center;
  gap: 7px;
}

.image_conatiner {
  display: flex;
  padding: var(--0, 0px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--3, 12px);
  align-self: stretch;
  font-size: 18px;
  font-weight: 500;
}
.img_prd_name {
  align-self: stretch;
  color: var(--gray-900, #111928);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: rgba(17, 25, 40, 1);
}
.product_Images {
  display: flex;
  padding: var(--0, 0px);
  align-items: flex-start;
  gap: var(--4, 16px);
  align-self: stretch;
}

.dropdown_container {
  width: 100%;
  height: 100%;
  background: #f9fafb;
  border-radius: 8px;
  border: 2px #e5e7eb dotted;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border-width: 2px;
  border-color: #d1d5db;
  border-style: dashed;
  width: 100%;
  height: 16rem;
  background-color: #f9fafb;
  cursor: pointer;
}
.dropzone:hover {
  background-color: #f3f4f6;
}
.drop_style {
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.svg {
  margin-bottom: 1rem;
  width: 2rem;
  height: 2rem;
  color: #6b7280;
}
.desc {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6b7280;
}
.bold {
  font-weight: 700;
}
.img_type {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  color: #6b7280;
}
.submit_btn {
  flex-wrap: wrap;
  gap: 0.5rem;
  display: flex;
  padding: var(--0, 0px);
  align-items: center;
  gap: var(--4, 16px);
  align-self: stretch;
}
.sub_btn {
  display: flex;
  padding: var(--25, 10px) var(--5, 20px);
  justify-content: center;
  align-items: center;
  gap: var(--2, 8px);
  border-radius: var(--rounded-lg, 8px);
  background: var(--primary-700, #1a56db);
  color: rgba(255, 255, 255, 1);
}
.del_btn {
  display: flex;
  padding: var(--25, 10px) var(--5, 20px);
  justify-content: center;
  align-items: center;
  gap: var(--2, 8px);
  border-radius: var(--rounded-lg, 8px);
  background: var(--red-700, #c81e1e);
  color: rgba(255, 255, 255, 1);
}

.arr_index_img {
  display: flex;
  width: 144px;
  height: 144px;
  padding: var(--0, 0px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--0, 0px);

  border-radius: var(--rounded-lg, 8px);
  background: var(--gray-100, #f3f4f6);
}
.index_1_arr {
  width: 122px;
  height: 125px;
  flex-shrink: 0;
}
.img_trash {
  width: var(--5, 20px);
  height: var(--5, 20px);
  position: relative;
  left: -53px;
  bottom: 6.5px;
  cursor: pointer;
}
